[submodule "evm/data_index/lib/forge-std"]
	path = evm/data_index/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "evm/data_index/lib/openzeppelin-contracts"]
	path = evm/data_index/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "evm/data_index/lib/filecoin-solidity"]
	path = evm/data_index/lib/filecoin-solidity
	url = https://github.com/filecoin-project/filecoin-solidity
